@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
$dark-purple: #242038;
$lighter-purple: #8d86c9;
$main-purple: #6441a4;
$main-purple-lighter: #9c72e9;
$grey-beige: #cac4ce;
$light-beige: #f7ece1;
$red-light: #ED6A5A;